header.site-header {
    background: #40ABE8;
    height: 12vh;
}

.title {
    margin-right: auto;
}

.container-header {
    width: 90%;
    height: 100%;
    padding-right: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header img {
    height: 40px;
    width: 60px;
}

.container-header p {
    padding-left: 15px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.container-header nav {
    float: right;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}

.nav-links a:hover, .nav-links a.active {
    text-decoration: underline;
}