* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}


body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: #1F1F1F;
}

/*start*/

header.site-header {
    background: #D9D9D9;
    height: 60px;
}

.title {
    margin-right: auto;
    text-decoration: none;
    font-weight: bold;
}
.alis{
    text-decoration: none;
}
.container-header {
    width: 90%;
    height: 100%;
    padding-right: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header a img {
    height: 40px;
    width: 60px;
}

.container-header p {
    padding-left: 15px;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: bold;
}

.container-header nav {
    float: right;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-links a {
    color: #1F1F1F;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    padding-left: 30px;
}

.nav-links a:hover, .nav-links a.active {
    text-decoration: underline;
}

/* end */
/*
.container-body {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    padding: 0px 10% 0px 10%;
}

.container-text {
    padding: 4rem 6rem;
    width: 55%;
    
}

.body-content {
    
    height: 40%;
    width: 80%;
    margin: 0 auto;
}

.body-content h1 {
    font-style: normal;
    font-weight: 700;
    color: #2E363F;
    margin-bottom: 3vh;
    text-align: left;
}

.body-content p {
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    text-align: justify;
}

.container-button {
    width: 100%;
    display: flex;
    margin-top: 0;
    padding-left: 10%;
    justify-content: left;
}

.container-button a {
    background-color: #1DA1F2;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 1.3rem 5rem;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}

.container-button a:hover {
    background-color: #343A40;
    cursor: pointer;
}

.primary-button i {
    margin-right: 0.6rem;
}

.container-image {
    width: 45%;
}

.image-content {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.image-content img {
    padding-top: 5vh;
}
*/
.home-container{
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #1F1F1F;
}

.home-wrapper1{
    width: 100%;
    height: 115vh;
    margin-left: 15%;
    margin-right: 15%;
}

.home-content1{
    width: 100%;
    height: 15vh;
    margin-top: 50px;
}

.home-content1 p{
    display: flex;
    justify-content: center;
}

.home-content2{
    width: 100%;
    height: 82vh;
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.heading1{
    font-size: 30px;
    font-weight: 700;
}

.heading2{
    font-size: 20px;
    font-weight: 700;
}

.tweet1{
    height: 150px;
    width: 426px;
}

.tweet2{
    padding-top: 10px;
}

.content2-item1{
    width: 40%;
}
.content2-item2{
    width: 60%;
    color: white;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 25px;
}

.tweet3{
    padding-top: 58px;
    width: 625px;
    height: 200px;
}

.tweet4{
    width: 625px;
}

.heading3{
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.tweet5{
    padding-top: 25px;
    display: flex;
    justify-content: center;
}

.tweet5 img{
    height: 90px;
    width: 90px;
}

.runbutton {
    color: white;
    background-color: #1d9bf0;
    border-radius: 40px;
    padding: 0 15px;
    cursor: pointer;
    height:50px;
    width: 200px;
    font-size:14px;
    transition: all 0.2s ease-in-out;
    margin-top: 25px;
    margin-left: 50px;
}

.runbutton:hover{
    transform: scale(1.1);
}


/* END OF HOME PAGE CSS */

/* run and result css */

.runandresulthomepage p, button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}


.runandresulthomepage button{
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
.runandresulthomepage button:hover {
    transform: scale(1.1);
}

/* basta hiwalay to tangina AHAHAHHA*/

:root {
    --clr-dark: #0f172a;
    --clr-light: #f1f5f9;
    --clr-accent: #e11d48;
}


.tweet-container {
  width: 60%;
  height: 500px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #40ABE8;
  padding: 30px;
  /* style */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.item {
    width: 100%;
    height: 125px;
    background-color: white;
    padding: 10px;
    font-weight: 700;
    color: black;
    text-align: left;
    border-radius: 30px;
    margin: 5px;
}

.item p {
    margin-left: 10px;
    font-size: 15px;
}

.item h3{
    margin-left: 10px;
}

.analysis-button {
    width: 100%;
    display: flex;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.analysis-button a {
    background-color: #1DA1F2;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 1.3rem 5rem;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}

.analysis-button a:hover {
    background-color: #657786;
    cursor: pointer;
}

.home-title-container {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    color: black;
}


/* run and result CSS */
.ack-container {
    width: 60%;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title-body {
    font-style: normal;
    font-size: 28px;
    font-weight: bold;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.container-description {
    width: 100%;
    display: flex;
}

.container-description img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#title {
    padding: 1rem 2rem;
}

#citation {
    padding: 3rem 2rem 1rem 2rem;
}
.content p {
    padding-right: 2rem;
    padding-left: 2rem;
}

.content ul {
    padding-right: 2rem;
    padding-left: 4rem;
    text-align: justify;
}

.content li {
    padding-left: 0.5rem;
}

/* about us css */

.container-picture {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.container-title {
    height: 150px;
    margin: 15px auto;
    padding-left: 20%;
    display: flex;
    align-items: center;
}

.container-title p {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}

.container-image {
    height: 280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.image-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-info img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
}

.image-info p {
    padding: 1.5rem 3rem;
    font-size: 18px;
    font-weight: bold;
}

.nav-socmed ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-socmed li {
    margin-right: 7px;
    margin-left: 7px;
    border-radius: 25%;
    padding: 10px 10px 7px 10px;
    background-color: #ecebeb; 
}

.nav-socmed i {
    font-size: 30px;
}

.nav-socmed li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* icon colors */
.fb-color {
    color: #0866FF;
}

.insta-color {
    color: #BC2A8D;
}

.twitter-color {
    color: black;
}



