    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google Fonts-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    
    <title>TweetPulse.</title>
    
</head>
<body>

    <header class="site-header">
        <div class="container-header">
            <a class="alis" href="{{url_for('index')}}"><p class="title"> TWEETPULSE.</p></a>
            <nav>
                <ul class="nav-links">
                    <li><a href="{{url_for('index')}}" class="active">home.</a></li>
                    <li><a href="{{url_for('aboutus')}}">about us.</a></li>
                    <li><a href="{{url_for('acknowledgement')}}">acknowledgement.</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="wrapper1">
            <h1> Twitter Sentiment Analysis </h1>
            <p> Analyze real-time tweets to get user sentiments.<br>
                results shown as Positive, Neutral, and Negative.
            </p>
        </div>
        <div class="wrapper2">
            <div class="wrapper2-item1">
                <h3> What is Sentiment Analysis?</h3>
                <img src="{{url_for('static', filename='images/sentimentanalysis.jpg')}}" alt="image">
            </div>
            <div class="wrapper2-item2">
                <p>Sentiment analysis, also known as opinion mining, is a natural language processing (NLP) technique that involves determining and extracting the emotional tone or attitude expressed in a piece of text. The goal of sentiment analysis is to identify whether the sentiment conveyed in the text is positive, negative, or neutral. It is often used in various applications, such as social media monitoring, customer feedback analysis, and market research, to understand and gauge the sentiments and opinions of individuals or groups.</p>
            </div>
        </div>
    </div>
</body>
</html>