<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/runandresult-styles.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
        <script src="{{ url_for('static', filename="js/script.js")}}" defer></script>
        <title>TweetPulse.</title>
        
        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">    
    </head>
    <body>
        <header class="site-header">
            <div class="container-header">
                <img src={{ url_for('static', filename='images/header-logo.svg') }} alt="header-logo">
                <p class="title">TWEETPULSE</p>
                <nav>
                    <ul class="nav-links">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About Us</a></li>
                        <li><a href="{{ url_for('acknowledgement') }}">Acknowledgement</a></li>
                    </ul>

                    <!-- SANDWICH NAVIGATION -->
                    <div class="burger" onclick="toggleNav()">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                    <ul class="burger-nav-links">
                        <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About Us</a></li>
                        <li><a href="{{ url_for('acknowledgement') }}">Acknowledgement</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="home-title-container">
            <div class="title-content">
                <h1> Twitter Sentiment Analysis </h1>
            </div>
        </div>

        <div class="background-tweet-container">
            <div id="tweet-container" class="tweet-container">
                {% for tweet_structure in tweet_structures %}
                    <div class="item item-1"> 
                        <h3> {{ tweet_structure.username }}</h3>
                        <p> {{ tweet_structure.tweet }}</p>
                        <p class="sentiment">
                            <span> Sentiment: </span>
                            <span>
                                <img src={{ url_for('static', filename="images/positive.svg")}}>
                                {{ tweet_structure.analysis.get('Positive') }} %
                            </span>
                            <span>
                                <img src={{ url_for('static', filename="images/neutral.svg")}}>
                                {{ tweet_structure.analysis.get('Neutral') }} %
                            </span>
                            <span>
                                <img src={{ url_for('static', filename="images/negative.svg")}}>
                                {{ tweet_structure.analysis.get('Negative') }} %
                            </span>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="analysis-button">
            <a class="body-button" href="#" onclick="runNewAnalysis()"> Run New Analysis </a>
        </div>

        <div id="loading-modal" class="modal">
            <div class="modal-content">
                <p>Loading...</p>
                <p>Please Wait</p>
            </div>
        </div>
    </body>

    <footer>
        <div class="copyright-field">
            <span>&copy; 2024 TweetPulse . </span>
            <span>All Rights Reserved</span>
        </div>
        <nav class="support-nav">
            <a href="{{ url_for('faq') }}">FAQ</a>
            <a href="{{ url_for ('term') }}" class="active">Terms</a>
            <a href="{{ url_for ('donate') }}">Donate</a>
        </nav>
    </footer>
</html>