<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Google Fonts-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <title>TweetPulse.</title>
    
</head>
<body>
    <header class="site-header">
        <div class="container-header">
            <a href="{{url_for('index')}}"><img src={{url_for('static', filename='images/header-logo.svg')}} alt="header-logo"></a>
            <p class="title"> TWEETPULSE.</p>
            <nav>
                <ul class="nav-links">
                    <li><a href="{{url_for('runandresult')}}" class="active">Home</a></li>
                    <li><a href="{{url_for('aboutus')}}">About Us</a></li>
                    <li><a href="{{url_for('acknowledgement')}}">Acknowledgement</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="home-title-container">
        <div class="title-content">
            <h1> Twitter Sentiment Analysis </h1>
            <p> Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Corporis eius cum obcaecati 
                maxime eveniet aliquid <br> eligendi explicabo 
                sapiente id? Animi sapiente sed aliquid molestias 
                corporis aliquam sit maiores, accusantium ducimus!
            </p>
        </div>
    </div>
    <!--AAYUSIN KO PA TO IDOL AH-->
        <div class="tweet-container">
            <div class="item item-1"> 
                <h3> {{username}}</h3>
                <p> Pagod na pagod na akong mag-aral.😭#EtitKoMalaki</p>
                <p> Sentiment: 😀 0% 😐 50% 😠 50%</p>
            </div>
            <div class="item item-2"> 
                <h3> @MatthewNavale </h3>
                <p> Bakit gusto niyong i-phase-out ang jeepney's? Tanginaniyu!😤 #notojeepneyphaseout</p>
                <p> Sentiment: 😀 0% 😐 0% 😠 100%</p>
            </div>
            <div class="item item-3">
                <h3> @JohnPatrickMarasiganLittEtit </h3>
                <p> Tara laro roblox, pagalingan mag parkour pukingina niyo 🎮</p>
                <p> Sentiment: 😀 25% 😐 25% 😠 50%</p>
            </div>
            <div class="item item-4">
                <h3> @JohnPatrickMarasiganLittEtit </h3>
                <p> Tara laro roblox, pagalingan mag parkour pukingina niyo 🎮</p>
                <p> Sentiment: 😀 25% 😐 25% 😠 50%</p>
            </div>
            <div class="item item-5">
                <h3> @JohnPatrickMarasiganLittEtit </h3>
                <p> Tara laro roblox, pagalingan mag parkour pukingina niyo 🎮</p>
                <p> Sentiment: 😀 25% 😐 25% 😠 50%</p>
            </div>
        </div>

        <div class="analysis-button">
            <a class="body-button" href="#"> Run Analysis </a>
        </div>

</body>
</html>